html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}
.flex-container {
  display:flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
#roles {
  background-color: green;
  width: 100%;

}
#priorities {
  background-color: yellow;
  width: 100%;
  height: 100%;
}
#tasks{
  background-color: red;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.RoleGoal{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  outline: 2px solid blue;
  text-align: center;
}
.RGFlex {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.roleGoalAdd {
  width: 100%;
  display: flex;
  flex-direction: row;
}
